<!-- Tweet List of all tweets from all users -->
{{#each tweets}}
    <!-- Displays a view of a single tweet-->
    <section class="ui stacked segment">
        <div class="ui two column grid">
            <div class="ui row">
                <div class="ui four wide column">
                    <a href="/profilepage/{{tweeter.email}}">
                        <h3>{{tweeter.firstName}} {{tweeter.lastName}}</h3>
                    </a>
                </div>
                <div class="ui column">
                    <h5>{{date}}</h5>
                </div>
            </div>

            <!-- Tweet image -->
            <div class="ui row">
                <div class="ui four wide column">
                </div>
                <div class="ui eight wide column">
                    {{#if picture.data}}
                        <img src="/getPicture/{{_id}}">
                    {{/if}}
                </div>
                <div class="ui four wide column">
                </div>
            </div>

            <!-- Tweet Content -->
            <div class="ui row">
                <div class="ui right floated twelve wide column">
                    {{content}}
                </div>
            </div>
        </div>
    </section>
{{/each}}