<!-- Menu to be displayed on all pages for logged-in user -->
<nav class="ui secondary pointing menu">
    <header class="header item"> <a href="/home/alltweets"><i class="small circular inverted violet comments icon"></i></a> </header>
    <div class="right menu">
        <a class="item" href="/viewSettings">Account Details</a>
        <a class="item" href="/logout">Logout</a>
    </div>
</nav>