<!-- Form to create a new tweet-->
<div class="ui accordion">
    <div class="title">
        <i class="huge circular inverted violet comments icon"></i>
    </div>
    <div class="content">
        <form action="/newTweet" method="POST" class="ui form" enctype="multipart/form-data">
            <div class="ui basic segment">
                <img id="preview" src="#" alt="image preview" style="width: 200px; visibility: hidden" >
            </div>
            <div class="field">
                <textarea name="content" rows="6" maxlength="140" placeholder="What's on your mind?"
                          style="resize: none"></textarea>
            </div>
            <div id="picUpload" class="ui left floated violet small basic button"><h3>Add picture</h3></div>
            <button class="circular ui icon button">
                <i class="circular inverted violet comments icon"></i>
            </button>
            <input type="file" name="picture" id="picFile" accept="image/x-png,image/gif,image/jpeg" style="visibility: hidden">
        </form>
    </div>
</div>
