<!-- Logged-in user's home page -->
{{> homemenu }}

<section class="ui raised segment">
  <!-- Header -->
  <h2>{{user.firstName}}, Welcome to MyTweet!</h2>

  <!-- List of followers -->
  <div class="ui accordion">
    <div class="title">
      <button class="ui violet basic button">View Followers</button>
    </div>
    <div class="content">
      {{#each followers}}
        <div class="ui basic segment">
          <a href="/profilepage/{{follower.email}}">
            <h3>{{follower.firstName}} {{follower.lastName}}</h3>
          </a>
        </div>
      {{/each}}
    </div>
  </div>

  <!-- Divider between header and main content -->
  <div class="ui horizontal divider header">
    MyTweet  <i class="comments icon"></i>Feed
  </div>

  <!-- Main content -->
  <div class="ui three column stackable grid">
    <div class="ui four wide center aligned column">
      {{> newtweet }}
    </div>
    <div class="ui eight wide column">
      {{#if mytweets}}
        {{> privateprofiletweets}}
      {{else}}
        {{> alltweets}}
      {{/if}}
    </div>
    <div class="ui four wide column">
      <div class="ui large rounded violet right floated vertical buttons">
        <a class="ui button" href="/home/alltweets">
          <h3>All Tweets</h3>
        </a>
        <a class="ui button" href="/home/following">
          <h3>Following</h3>
        </a>
        <a class="ui button" href="/home/mytweets">
          <h3>My Tweets</h3>
        </a>
      </div>
    </div>
  </div>
</section>