<!-- Log in page -->
<nav class="ui three item secondary pointing menu">
  <header class="header item"><a href="/">MyTweet</a></header>
  <a class="item" href="/signup"> Signup</a>
  <a class="active item" href="/login"> Login</a>
</nav>

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column fluid form">
      <div class="ui stacked segment">
        <form action="/authenticate" method="POST">
          <h3 class="ui header">Log-in</h3>
          <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="text" name="email">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password">
          </div>
          <button class="ui blue submit button">Login</button>
        </form>
        {{> formerror }}
      </div>
    </div>
  </div>
</section>