<!-- An individual user's profile page to display their tweets -->
{{> homemenu }}

<section class="ui raised segment">
  <!-- Header -->
  <h2>{{user.firstName}} {{user.lastName}}</h2>

      <!-- Button to enable following of a user -->
      <form method='POST' action="/follow">
        <button class="ui violet basic button">Follow</button>
        <input name="id" style="visibility: hidden" readonly value="{{user._id}}">
      </form>

      <!-- List of followers -->
      <div class="ui accordion">
        <div class="title">
          <button class="ui violet basic button">View Followers</button>
        </div>
        <div class="content">
          {{#each followers}}
            <div class="ui basic segment">
              <a href="/profilepage/{{follower.email}}">
                <h3>{{follower.firstName}} {{follower.lastName}}</h3>
              </a>
            </div>
          {{/each}}
        </div>
      </div>
  <!-- Divider between Header and Main content -->
  <div class="ui horizontal divider header">
    {{user.firstName}}'s <i class="comments icon"></i>MyTweets
  </div>

  <!-- Main content -->
  <div class="ui three column stackable grid">
    <div class="ui four wide center aligned column">
      {{> newtweet }}
    </div>

    <!-- if this user is not logged in, displays public tweetlist
         otherwise, displays private tweetlist -->
    <div class="ui eight wide column">
      {{> publicprofiletweets}}
    </div>
    <div class="ui four wide column">
    </div>
  </div>
</section>