<!-- Logged-in user's home page -->
{{> homemenu }}

<section class="ui raised segment">
  <!-- Header -->
  <h2>Adjust User Details</h2>

  <!-- Divider between header and main content -->
  <div class="ui horizontal divider header">
    <i class="comments icon"></i>
  </div>

  <!-- Main content -->
  <section class="ui stacked fluid form segment">
    <h4>To make a change, please fill in all fields</h4>
    <h4>To change your password, please contact the MyTweet team @ passwords@mytweet.org</h4>
    <form action="/updateSettings" method="POST">
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" type="text" name="firstName">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text" name="lastName">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" type="text" name="email">
      </div>
      <button class="ui blue submit button">Submit</button>
    </form>
    {{> formerror }}
  </section>
</section>